@import '../node_modules/bootstrap/scss/bootstrap';

.avatar {
  width: max-content;
  height: max-content;
  margin: 5px 5px 5px 5px;
}

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.container {
  max-width: 1450px;
}

.hidden {
  visibility: hidden;
}
